<head>

</head>
<body>
  <div class='comments' ng-controller='CommentsCtrl' ng-init='getComment()'>
    <div class="jumbotron jumbotron-fluid" style="padding-top: 20px; padding-bottom: 20px;">
      <div class="container" ng-model="query">
        <!-- 'http://static.giantbomb.com/' + -->
        <img style="float:left; padding-right: 20px;" ng-src="{{ 'http://static.giantbomb.com/' + query.image.medium_url }}" height="260" err-src="assets/images/notfound.png">
        <h1 class="display-3">{{query.name}}</h1>
        <p align="justify">{{query.deck}}</p>
      </div>
    </div>

    <div class="container" style=" padding-left: 0px; padding-right: 0px;">
      <div class="col-lg-9 col-md-9" align="justify">
        <form name="outerForm" class="tab-form-demo">
          <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Game Wiki">
                  <span ng-bind-html="description"></span>
            </uib-tab>
            <uib-tab index="1" heading="Images">
              <br>
              <div class="row">
                <!-- 'http://static.giantbomb.com/' + -->
                <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="image in query.images">
                  <a href="{{ 'http://static.giantbomb.com/' + image.thumb_url }}">
                  <img ng-src="{{ 'http://static.giantbomb.com/' + image.medium_url }}" err-src="assets/images/notfound.png" class="thumbnail img-responsive">
                    </a>
                </div>
              </div>
            </uib-tab>

            <uib-tab index="2" heading="Comments">
              <form>
                <h2>Your comment</h2>
                <fieldset>
                  <div>
                    <textarea ng-model='text'></textarea>
                  </div>
                  <div>
                    <input class='button' ng-click='postComment()' ng-model ='text' type='submit' value='Submit'>
                  </div>
                </fieldset>
              </form>
              <h3>
                {{comments.length}} Comments
              </h3>
              <ul>
                <li ng-repeat='comment in comments'>
                  <div class='comment'>
                    <div>
                      {{comment.commentData}}
                    </div>
                  </div>
                </li>
              </ul>

            </uib-tab>
          </uib-tabset>
        </form>

      </div>
      <noscript></noscript>
      <div class="col-lg-3 col-md-3">
        <xc-base>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Name</b></p>
            <p class="list-group-item-heading">{{query.name}}</p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>First release date</b></p>
            <p class="list-group-item-heading">{{ query.original_release_date | split:' ':0 | date:'longDate'}}</p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Platform</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="platform in query.platforms">
                {{ platform.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Developer</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="developer in query.developers">
                {{ developer.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Publisher</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="publisher in query.publishers">
                {{ publisher.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Genre</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="genre in query.genres">
                {{ genre.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Theme</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="theme in query.themes">
                {{ theme.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Franchises</b></p>
            <p class="list-group-item-heading">
              <span ng-repeat="franchise in query.franchises">
                {{ franchise.name }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text"><b>Aliases</b></p>
            <p class="list-group-item-heading">{{query.aliases}}</p>
          </div>
        </xc-base>
      </div>
    </div>
  </div>
</body>

