figure{
  float: right !important;
  margin-left: 40px !important;
}

figcaption{
  clear: both;
  display: block;
  font-family: Georgia,serif;
  font-style: oblique;
  margin: 10px 0;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
}

.button {
  webkit-appearance: none;
  moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}
