<navbar></navbar>

<!--<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hola!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->



<!--<div class="container">-->

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8">



    <!--<div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ searchGame }}</p>
    </div>-->

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search game" ng-model="searchGame">
        </div>
      </div>
    </form>

    <table class="table table-bordered table-striped">

      <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'cover'; sortReverse = !sortReverse">
            Cover
            <span ng-show="sortType == 'cover' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'cover' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
            Date
            <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'developer'; sortReverse = !sortReverse">
            Developer
            <span ng-show="sortType == 'developer' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'developer' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'distributor'; sortReverse = !sortReverse">
            Distributor
            <span ng-show="sortType == 'distributor' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'distributor' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'genres'; sortReverse = !sortReverse">
            Genres
            <span ng-show="sortType == 'genres' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'genres' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'platform'; sortReverse = !sortReverse">
            Platform
            <span ng-show="sortType == 'platform' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'platform' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="game in games | orderBy:sortType:sortReverse | filter:searchGame">
        <td> <img ng-src="{{ game.Image }}" width="50"> </td>
        <td>{{ game.Name }}</td>
        <td>{{ game.Date }}</td>
        <td>{{ game.Developer }}</td>
        <td>{{ game.Distributor }}</td>
        <td>{{ game.Genres }}</td>
        <td>{{ game.Platform }}</td>
      </tr>
      </tbody>

    </table>
  </div>

  <div class="col-md-1"></div>

</div>



<footer></footer>
