<head>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<navbar></navbar>

<!--<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hola!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->

<div class="row">

  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <table class="table table-bordered">

        <thead>
        <tr>
          <td>
              <a href="#" data-toggle="collapse" data-target="#genres">
                Genres
              </a>
          </td>
        </tr>
        </thead>
        <tbody id="genres" class="collapse in">
        <tr ng-repeat="genres in genres">
          <td>
            <input type="checkbox" value="">
            {{ genres.genre }}
          </td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <td>
            <a href="#" data-toggle="collapse" data-target="#developer">
              Developer
            </a>
          </td>
        </tr>
        </thead>
        <tbody id="developer" class="collapse">
        <tr ng-repeat="developers in developers">
          <td>
            <input type="checkbox" value="">
            {{ developers.developer }}
          </td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <td>
            <a href="#" data-toggle="collapse" data-target="#distributor">
              Distributor
            </a>
          </td>
        </tr>
        </thead>
        <tbody id="distributor" class="collapse">
        <tr ng-repeat="distributors in distributors">
          <td>
            <input type="checkbox" value="">
            {{ distributors.distributor }}
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="col-md-8">

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search game" ng-model="searchGame.Name">
        </div>
      </div>
    </form>

    <table class="table table-bordered table-striped">

      <thead>
      <tr>
        <td>
          <a>
            Cover
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Date'; sortReverse = !sortReverse">
            Date
            <span ng-show="sortType == 'Date' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Date' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Developer'; sortReverse = !sortReverse">
            Developer
            <span ng-show="sortType == 'Developer' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Developer' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Distributor'; sortReverse = !sortReverse">
            Distributor
            <span ng-show="sortType == 'Distributor' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Distributor' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a>
            Genres
          </a>
        </td>
        <td>
          <a>
            Platform
          </a>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="game in games | orderBy:sortType:sortReverse | filter:searchGame">
        <td> <img ng-src="{{ game.Image }}" width="50"> </td>
        <td>{{ game.Name }}</td>
        <td>{{ game.Date | date:'MMMM, yyyy'}}</td>
        <td>{{ game.Developer }}</td>
        <td>{{ game.Distributor }}</td>
        <td>{{ game.Genres }}</td>
        <td>{{ game.Platform }}</td>
      </tr>
      </tbody>

    </table>
  </div>

  <div class="col-md-1"></div>

</div>



<footer></footer>
